<div class="vip-container">
  <h2 class="mat-display-1 pt-4">Wee VIP Customer Application</h2>

  <form [formGroup]="applyVIPFormGroup" *ngIf="!isSubmitted" (submit)="searchEmail()">
    <mat-form-field class="full-width-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        [readOnly]="isUserExists"
      />
    </mat-form-field>

    <div *ngIf="isUserExists">
      <p class="text-left mt-4">Required Fields (<span class="required">*</span>)</p>
      <mat-form-field class="full-width-field">
        <mat-label>Name</mat-label>
        <input matInput readonly formControlName="name" />
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>Phone Number</mat-label>
        <input matInput readonly formControlName="mobile_number" />
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>Referral ID</mat-label>
        <input formControlName="referral_id" matInput />
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>Company Name</mat-label>
        <input formControlName="company_name" matInput />
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>Company Address</mat-label>
        <input formControlName="company_address" matInput />
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>Company Phone Number</mat-label>
        <input formControlName="company_contact_no" matInput />
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>Business Category</mat-label>
        <input formControlName="business_category" matInput />
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>Number of Parcel Monthly</mat-label>
        <input type="number" formControlName="parcel_monthly" matInput />
      </mat-form-field>
      <mat-form-field class="full-width-field">
        <mat-label>Platform</mat-label>
        <input formControlName="platform" matInput readonly />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        mat-button
        (click)="applyVIP()"
        [disabled]="isApplyDisabled"
      >
        Apply VIP
      </button>
    </div>

    <button
      mat-raised-button
      color="primary"
      mat-button
      type="submit"
      (click)="searchEmail()"
      *ngIf="!isUserExists"
    >
      Search Email
    </button>

    <div class="mt-4" *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </form>

  <div class="success-vip" *ngIf="isSubmitted">
    <h3>Your VIP application has been submitted!</h3>
    <button
      mat-raised-button
      color="primary"
      mat-button
    routerLink="/login">
      Go Home
    </button>
  </div>
</div>
