.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;

  img {
    width: 300px;
    height: 300px;
  }

  form {
    padding-top: 20px;
  }
}

mat-form-field, button {
  width: 250px;
}
