<div class="">
  <h2 class="mat-title">Drop Points</h2>

  <table
    *ngIf="dropPoints"
    mat-table
    [dataSource]="dropPoints"
    class="mat-elevation-z1 mt-3 full-width-field"
  >
    <ng-container matColumnDef="company_name">
      <th mat-header-cell *matHeaderCellDef>Service Partner</th>
      <td mat-cell *matCellDef="let element">{{ element.company_name }}</td>
    </ng-container>

    <ng-container matColumnDef="company_contact_no">
      <th mat-header-cell *matHeaderCellDef>Contact No.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.company_contact_no }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef>Area</th>
      <td mat-cell *matCellDef="let element">{{ element.area }}</td>
    </ng-container>

    <ng-container matColumnDef="drop_points">
      <th mat-header-cell *matHeaderCellDef>Drop Points</th>
      <td mat-cell *matCellDef="let element">
        {{ element.drop_points.length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="primary"
          (click)="getRow(element)"
          class="mr-2"
        >
          Update Drop Points
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
