<div class="">
  <h2 class="mat-title">Bookings</h2>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab [label]="bookingStatus">
      <sp-booking-table
        [spBookingTableSpecs]="spBookingsTableSpecs"
        [updateCheck]="updateCheckBooking"
        (filterBookingsEvent)="filterBookings($event)"
        (downloadCSVEvent)="downloadCSV($event)"
      ></sp-booking-table>
    </mat-tab>
    <mat-tab [label]="sortationStatus">
      <sp-booking-table
        [spBookingTableSpecs]="spSortationTableSpecs"
        [updateCheck]="updateCheckSortation"
        (filterBookingsEvent)="filterBookingsSortation($event)"
        (downloadCSVEvent)="downloadCSV($event)"
      ></sp-booking-table>
    </mat-tab>
  </mat-tab-group>
</div>
