/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padding {
  padding: 1%;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.full-width-field {
  width: 100%;
}

.mat-cell {
  font-size: 12px;
  border-right: solid 1px #eee;
  padding: 10px !important;
}

.mat-header-cell {
  padding: 0 10px !important;
}

.clickable {
  cursor: pointer !important;
}

.inline-form .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 1000px;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;

    td {
      padding: 10px;
      border: solid 1px #b8acc5;
    }

    th {
      border: solid 1px #cbc3d4;
    }
  }
}

.text-right {
  text-align: right;
}
